/* universal styling */
* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #1b19c2;
    --secondary-color: #71a9fd;
    --tertiary-color: #797878;
    --quaternary-color: #ffffff;
    --quinary-color: #02d6f1;
    --font-primary: Georgia, 'Times New Roman', Times, serif;
    --font-secondary: Verdana, Geneva, Tahoma, sans-serif;
}

/* header styling */
header {
    padding: 35px 35px 20px 0px;
    background: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
}

header h1 {
    color: var(--primary-color);
    background: var(--quinary-color);
    font-size: 40px;
    padding: 5px 50px;
    font-family: var(--font-primary);
    border-radius: 0 25px 25px 0;
}

header a {
    text-decoration: none;
    color: var(--quinary-color);
}

header nav {
    margin: 15px;
    font-family: var(--font-secondary);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    margin: 0 5px;
    border-bottom: 2px solid var(--quinary-color);
    border-radius: 15px;
}

header nav ul li a {
    font-size: 20px;
    padding: 10px 15px;
}

header nav ul li a:hover {
    color: var(--quaternary-color);
    background: var(--quinary-color);
    border-radius: 15px;
}

/* hero/jumbotron styling */
.hero {
    background-image: url(../images/background.png);
    height: 250px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-top: 3px solid var(--quinary-color);
    border-bottom: 4px solid var(--quinary-color);
}

.hero h2 {
    font-family: var(--font-primary);
    background: var(--quinary-color);
    color: var(--quaternary-color);
    font-size: 30px;
    padding: 5px 50px;
    margin-bottom: 20px;
    border-radius: 20px 0 0 20px;
}

/* main section styling */
main {
    background-image: url(../images/background2.png);
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
}

.container-title {
    width: 25%;
    font-size: 48px;
    font-weight: bold;
    font-family: var(--font-primary);
    border-right: solid black 4px;
    border-radius: 15px;
    text-align: right;
    padding-right: 20px;
    margin-right: 10px;
}

.container-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container-content p {
    width: 70%;
    font-size: 18px;
    line-height: 1.5;
    font-family: var(--font-secondary);
}

/* about me styling */
.about-picture {
    background-image: url(../images/Self\ Picture.jpg);
    background-size: cover;
    height: 300px;
    width: 230px;
}

.about-picture:hover {
    background-image: url(../images/SirUbuImage.png) ;
    background-size: contain;
    height: 230px;
}

/* work styling*/
.grid-content {
    width: 100%;
    display: flex;
    justify-content: center;
}
.grid-container {
    height: 600px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
}

.project-1 {
    background: orange;
    grid-column: 2;
    grid-row: 3;
}

.project-2 {
    background: purple;
    grid-column: 3;
    grid-row: 2;
}

.project-3 {
    background: green;
    grid-column: 3;
    grid-row: 1;
}

.project-4 {
    background: red;
    grid-column: 1;
    grid-row: 3;
}

.project-5 {
    background: blue;
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

/* contact me styling */
.contact {
    align-content: center;
    font-family: var(--font-secondary);
    font-weight: 18px;
}

/* footer styling */
footer {
    height: 60px;
    border-top: 4px solid var(--quinary-color);
    background: var(--tertiary-color);
    text-align: center;
}

footer div {
    font-size: 16px;
    padding-top: 30px;
}